html {
	font: 100%/1.414 "Nara 2", georgia, serif;
}
summary {
	cursor: pointer;
	transition: .2s;
}
summary:only-child {
	cursor: default;
	display: list-item;
	list-style: disc;
	margin-left: 1em;
}
summary:hover,
summary:focus,
details:target > summary {
	background: hsla(0, 100%, 0%, 0.1);
}
details {
	max-width: 30em;
	width: 100%;
	margin: .5em 0;
}
details {
	margin: 1em 0;
}
details details {
	margin: 0;
}
details details {
	margin-left: 1em;
}
details[open] {
	mix-blend-mode: multiply;
}
details[open]>summary {
	box-shadow: inset 1em 0 0 white;
}

details ul {
	margin: 0 0 0 1em;
	padding: 0;
}
details p {
	margin: 0 0 0 1em;
}
details li {
	margin-left: 1em;
}
.note {
	font-style: italic;
	background: yellow;
}
